n8n/agentic_dbt_librarian.json
{
  "name": "Agentic dbt Librarian",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dbt-librarian-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "GitHub Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "dbt-librarian-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse the GitHub push event payload\nconst payload = $input.first().json;\n\n// Check if this is a \"Ping\" event from GitHub\nif (payload.zen) {\n  return [{ json: { skip: true, reason: 'GitHub Ping received successfully!' } }];\n}\n\nconst commits = payload.commits || [];\nconst sqlFiles = [];\n\nfor (const commit of commits) {\n  const allFiles = [\n    ...(commit.added || []),\n    ...(commit.modified || [])\n  ];\n  \n  for (const file of allFiles) {\n    // Catch any .sql file anywhere\n    if (file.toLowerCase().endsWith('.sql')) {\n      sqlFiles.push({\n        filename: file,\n        sha: commit.id,\n        repo: payload.repository?.full_name || '',\n        branch: payload.ref?.replace('refs/heads/', '') || 'main',\n        pusher: payload.pusher?.name || 'unknown'\n      });\n    }\n  }\n}\n\nif (sqlFiles.length === 0) {\n  return [{ \n    json: {\n      skip: true, \n      reason: 'No .sql files found in this push.',\n      payload_summary: {\n        has_commits: commits.length > 0,\n        repo: payload.repository?.full_name\n      }\n    } \n  }];\n}\n\nreturn sqlFiles.map(f => ({ json: f }));"
      },
      "id": "node-parse-push-event",
      "name": "Parse Push Event & Filter SQL Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-skip-check",
      "name": "Skip if No SQL Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Parse Push Event & Filter SQL Files').item.json.repo }}/contents/{{ $('Parse Push Event & Filter SQL Files').item.json.filename }}?ref={{ $('Parse Push Event & Filter SQL Files').item.json.branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "headers": {
            "values": [
              { "name": "Accept", "value": "application/vnd.github.v3.raw" }
            ]
          }
        }
      },
      "id": "node-fetch-sql",
      "name": "Fetch SQL File from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200],
      "credentials": {
        "githubApi": { "id": "github-cred-id", "name": "GitHub API" }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Parse Push Event & Filter SQL Files').item.json.repo }}/contents/target/manifest.json?ref={{ $('Parse Push Event & Filter SQL Files').item.json.branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "headers": {
            "values": [
              { "name": "Accept", "value": "application/vnd.github.v3.raw" }
            ]
          }
        }
      },
      "id": "node-fetch-manifest",
      "name": "Fetch manifest.json from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 380],
      "credentials": {
        "githubApi": { "id": "github-cred-id", "name": "GitHub API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge SQL content + manifest context into a single prompt payload\nconst sqlContent = $('Fetch SQL File from GitHub').first().json.body || $('Fetch SQL File from GitHub').first().json;\nconst manifestRaw = $('Fetch manifest.json from GitHub').first().json.body || $('Fetch manifest.json from GitHub').first().json;\nconst fileInfo = $('Parse Push Event & Filter SQL Files').first().json;\n\nlet manifest = {};\ntry {\n  manifest = typeof manifestRaw === 'string' ? JSON.parse(manifestRaw) : manifestRaw;\n} catch(e) {\n  manifest = {};\n}\n\n// Derive model name from filename\nconst modelName = fileInfo.filename\n  .split('/')\n  .pop()\n  .replace('.sql', '');\n\n// Find this model's node in manifest\nconst nodes = manifest.nodes || {};\nconst modelKey = Object.keys(nodes).find(k => k.includes(`model.`) && k.endsWith(`.${modelName}`));\nconst modelNode = modelKey ? nodes[modelKey] : {};\n\n// Gather upstream descriptions for lineage context\nconst upstreamDescriptions = [];\nfor (const depId of (modelNode.depends_on?.nodes || [])) {\n  const dep = nodes[depId];\n  if (dep?.description) {\n    upstreamDescriptions.push(`- ${dep.name}: ${dep.description}`);\n  }\n}\n\n// Gather existing column definitions to avoid overwriting\nconst existingColumns = {};\nfor (const [colName, colData] of Object.entries(modelNode.columns || {})) {\n  if (colData.description) {\n    existingColumns[colName] = colData.description;\n  }\n}\n\nreturn [{\n  json: {\n    modelName,\n    filename: fileInfo.filename,\n    repo: fileInfo.repo,\n    branch: fileInfo.branch,\n    sqlCode: typeof sqlContent === 'string' ? sqlContent : JSON.stringify(sqlContent),\n    upstreamContext: upstreamDescriptions.join('\\n') || 'No upstream models documented yet.',\n    existingColumns: JSON.stringify(existingColumns, null, 2),\n    materialization: modelNode.config?.materialized || 'view',\n    schema: modelNode.schema || 'unknown'\n  }\n}];"
      },
      "id": "node-build-context",
      "name": "Build Lineage-Aware Agent Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "Gemini 1.5 Flash"
        },
        "messages": {
          "values": [
            {
              "content": "=## Model: {{ $json.modelName }}\n\n### SQL Code\n```sql\n{{ $json.sqlCode }}\n```\n\n### Upstream Model Context (Lineage)\n{{ $json.upstreamContext }}\n\n### Already Documented Columns (DO NOT overwrite these)\n```json\n{{ $json.existingColumns }}\n```\n\n### Additional Context\n- Materialization: {{ $json.materialization }}\n- Target Schema: {{ $json.schema }}\n\nNow generate the complete dbt schema.yml for this model.",
              "role": "user"
            }
          ]
        },
        "options": {
          "systemMessage": "You are the Agentic dbt Librarian — an expert Senior Data Engineer and Business Analyst embedded in a Snowflake/dbt data stack.\n\nYour mission is to write documentation that BRIDGES THE GAP between raw SQL logic and business meaning. You do not write generic, technical-only descriptions. Every description must answer: \"Why does this column MATTER to the business?\"\n\n## Your Rules\n1. PRIMARY KEYS: Describe how this ID is used across the business — what it connects.\n2. FOREIGN KEYS: Explain what the join unlocks — what business question it answers.\n3. METRICS: State the exact business definition, including any edge cases (nulls, zeros, returns).\n4. DATES: Clarify the event this timestamp captures and its timezone.\n5. STATUS/FLAGS: List all possible values and their business meaning.\n6. PII COLUMNS: Flag with '[PII]' prefix and describe data sensitivity.\n\n## Output Format\nReturn ONLY a valid dbt schema.yml block. No explanations. No markdown prose. No code fences. Start directly with 'version: 2'.",
          "temperature": 0.2,
          "maxOutputTokens": 2048
        }
      },
      "id": "node-ai-agent",
      "name": "AI Agent — Generate schema.yml",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "gemini-cred-id",
          "name": "Google Gemini(PaLM) Api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean and validate the AI response\n// Handle multiple AI response formats (Gemini, OpenAI, etc.)\nconst raw = $input.first().json;\nconst aiResponse = \n  raw.candidates?.[0]?.content?.parts?.[0]?.text ||  // Gemini format\n  raw.message?.content ||                             // OpenAI format\n  raw.text ||                                         // Generic\n  raw.content ||                                      // Fallback\n  '';\n\n// Strip markdown code fences if present\nlet cleanYaml = aiResponse\n  .replace(/^```ya?ml\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\n// Basic validation\nconst isValid = cleanYaml.startsWith('version:') && cleanYaml.includes('models:');\n\nif (!isValid) {\n  return [{\n    json: {\n      valid: false,\n      error: 'AI response did not produce valid schema.yml format',\n      raw: aiResponse\n    }\n  }];\n}\n\n// Encode for GitHub API\nconst encoded = Buffer.from(cleanYaml).toString('base64');\n\nreturn [{\n  json: {\n    valid: true,\n    yaml: cleanYaml,\n    yamlBase64: encoded,\n    modelName: $('Build Lineage-Aware Agent Context').first().json.modelName,\n    repo: $('Build Lineage-Aware Agent Context').first().json.repo,\n    branch: $('Build Lineage-Aware Agent Context').first().json.branch,\n    filename: $('Build Lineage-Aware Agent Context').first().json.filename\n  }\n}];"
      },
      "id": "node-yaml-parser",
      "name": "YAML Response Parser & Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-valid-check",
      "name": "YAML Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/git/refs/heads/{{ $json.branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "node-get-sha",
      "name": "Get Branch SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 200],
      "credentials": {
        "githubApi": { "id": "github-cred-id", "name": "GitHub API" }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('YAML Response Parser & Validator').first().json.repo }}/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/docs/ai-schema-{{ $('YAML Response Parser & Validator').first().json.modelName }}-{{ $now.toFormat('yyyyMMddHHmm') }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        }
      },
      "id": "node-create-branch",
      "name": "Create PR Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 200],
      "credentials": {
        "githubApi": { "id": "github-cred-id", "name": "GitHub API" }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('YAML Response Parser & Validator').first().json.repo }}/contents/models/{{ $('YAML Response Parser & Validator').first().json.modelName }}.yml",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=docs(ai): generate schema.yml for {{ $('YAML Response Parser & Validator').first().json.modelName }} [Agentic dbt Librarian]"
            },
            {
              "name": "content",
              "value": "={{ $('YAML Response Parser & Validator').first().json.yamlBase64 }}"
            },
            {
              "name": "branch",
              "value": "=docs/ai-schema-{{ $('YAML Response Parser & Validator').first().json.modelName }}-{{ $now.toFormat('yyyyMMddHHmm') }}"
            }
          ]
        }
      },
      "id": "node-commit-yaml",
      "name": "Commit schema.yml to Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 200],
      "credentials": {
        "githubApi": { "id": "github-cred-id", "name": "GitHub API" }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('YAML Response Parser & Validator').first().json.repo }}/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🤖 [AI Docs] schema.yml for `{{ $('YAML Response Parser & Validator').first().json.modelName }}`"
            },
            {
              "name": "body",
              "value": "=## 📚 AI-Generated dbt Documentation\n\nThis PR was automatically created by the **Agentic dbt Librarian**.\n\n### What was generated\nA `schema.yml` block for the model `{{ $('YAML Response Parser & Validator').first().json.modelName }}` was generated using GPT-4o after analyzing:\n- The raw SQL logic\n- Upstream model lineage context from `manifest.json`\n- Column data types from `catalog.json`\n\n### What to review\n- [ ] Verify all column descriptions are accurate\n- [ ] Check that primary/foreign key relationships are correct\n- [ ] Ensure business logic descriptions match actual intent\n- [ ] Run `dbt test` after merging\n\n### ⚠️ Reminder\nAI-generated descriptions are a starting point. Please edit before merging if any description is inaccurate.\n\n---\n*Generated by Agentic dbt Librarian n8n workflow*"
            },
            {
              "name": "head",
              "value": "=docs/ai-schema-{{ $('YAML Response Parser & Validator').first().json.modelName }}-{{ $now.toFormat('yyyyMMddHHmm') }}"
            },
            {
              "name": "base",
              "value": "={{ $('YAML Response Parser & Validator').first().json.branch }}"
            }
          ]
        }
      },
      "id": "node-create-pr",
      "name": "Create Pull Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2660, 200],
      "credentials": {
        "githubApi": { "id": "github-cred-id", "name": "GitHub API" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, pr_url: $json.html_url, model: $('YAML Response Parser & Validator').first().json.modelName } }}"
      },
      "id": "node-success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error, model: $json.modelName } }}"
      },
      "id": "node-error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 420]
    }
  ],
  "connections": {
    "GitHub Webhook Trigger": {
      "main": [[{ "node": "Parse Push Event & Filter SQL Files", "type": "main", "index": 0 }]]
    },
    "Parse Push Event & Filter SQL Files": {
      "main": [[{ "node": "Skip if No SQL Files", "type": "main", "index": 0 }]]
    },
    "Skip if No SQL Files": {
      "main": [
        [{ "node": "Fetch SQL File from GitHub", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Fetch SQL File from GitHub": {
      "main": [[{ "node": "Build Lineage-Aware Agent Context", "type": "main", "index": 0 }]]
    },
    "Fetch manifest.json from GitHub": {
      "main": [[{ "node": "Build Lineage-Aware Agent Context", "type": "main", "index": 0 }]]
    },
    "Build Lineage-Aware Agent Context": {
      "main": [[{ "node": "AI Agent — Generate schema.yml", "type": "main", "index": 0 }]]
    },
    "AI Agent — Generate schema.yml": {
      "main": [[{ "node": "YAML Response Parser & Validator", "type": "main", "index": 0 }]]
    },
    "YAML Response Parser & Validator": {
      "main": [[{ "node": "YAML Valid?", "type": "main", "index": 0 }]]
    },
    "YAML Valid?": {
      "main": [
        [{ "node": "Get Branch SHA", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Get Branch SHA": {
      "main": [[{ "node": "Create PR Branch", "type": "main", "index": 0 }]]
    },
    "Create PR Branch": {
      "main": [[{ "node": "Commit schema.yml to Branch", "type": "main", "index": 0 }]]
    },
    "Commit schema.yml to Branch": {
      "main": [[{ "node": "Create Pull Request", "type": "main", "index": 0 }]]
    },
    "Create Pull Request": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["dbt", "documentation", "ai", "github", "automation"],
  "versionId": "1.0.0"
}
